.body {
    padding: 0;
    margin: 0;
}

.container-fluid {
    margin-left: -15px !important;
    margin-right: -15px !important;
}

.jumbotron {
    margin-left: -15px !important;
    margin-right: -15px !important;
}



/*--------------text--------------------*/

h1 {
    color: #d64815 !important;
}

h3 {
    color: white !important;
    text-align: center;
    font-weight: bold;

}

h5 {
    color: white !important;
}

li {color: #d64815 !important;
}

p {
    color: white !important;
}

a {
    color: #d64815 !important;
}

.newtx {
    color: white !important;
    font-size: 10%;
}

/*--------------links--------------------*/

a:link {
    background-color: transparent;

}

/*--------------navbar--------------------*/

.navbar {
    border-color: transparent;
    text-transform: uppercase;
    background: none;
    z-index: 10;
}

.navbar .navbar-collapse {
    text-align: right;
    border-top: 1px solid transparent;
    overflow-x: hidden;
}

.navbar-nav li a {
    color: transparent;
    padding: 30px;

}

.navbar-fixed-top .container {
    text-align: right;
}

a {
    background-color: #d64815;
    color: #d64815;
    font-size: 1.12em;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.navbar-default .navbar-nav li a:hover {
    color: #931007;
}

.navbar-right {
    float: right!important;
}


/*--------------mob look--------------------*/

.bgmob {
    background-image: url(../assets/img/backdrop.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/*--------------bandphoto--------------------*/

.home {
    margin-top: auto!important;
}

.bandphoto {
    background-image: url(../assets/img/bandcover.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: all 200ms ease-in-out;
    display: block;
    top: auto;

}

.topbg {
    width: 100%;
    height: auto;
    margin: 0;
}

.intro {
    top: 600px;
    margin-left: 0!important;
    display: auto;
}

/*-----------------parallax------------------*/

.parallax1 {
    background-image: url(../assets/img/group.jpg);
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    position: relative;
    top: 0;
    transition: all 200ms ease-in-out;
    padding: 0;
    margin: 0;
    text-align: center;
}

.startbg {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    z-index: -5;
}

/*-----------------jumbotron------------------*/

.jumbo {
    margin-top: 100px;
    width: 100%;
    display: inline-block;
    background-position: center;
    margin-left: -15px !important;
    margin-right: -15px !important;
    padding-left: 0!important;
    padding-right: 0!important;

}

.jumbotron {
    background-image: url(../assets/img/crowd.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    text-shadow: black 0.3em 0.3em 0.3em;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
    display: inline-block;
    width: auto;
}

.container {
    position: relative;
    width: 50%;
}

.container img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 0;
    border: none;
    cursor: pointer;
    width: auto;
    height: auto;
    background-size: cover;
    border-radius: 15px;
}

.container .btn:hover {
    opacity: 0.8;
}

.btvideo {
    background-image: url(../assets/img/newstuff.jpg);
    background-repeat: no-repeat;
    border-radius: 15px;
}

.latestgigtx,
.latestcdtx {
    padding-top: 10px;
    border-radius: 15px;
}

/*--------------tour--------------------*/

.tour {
    margin-top: auto;
    overflow: auto;
}

.tourbg {
    height: auto;

    margin-top: auto!important;
}

.gigpost {
    width: 100%;
    height: 720px;
    text-shadow: black 0.3em 0.3em 0.3em;
    border-radius: 5px;
    float: left;
    display: inline-block;
    margin-top: auto;
}

.posters {
    height: 250px;
    text-align: center;
    margin-top: 20px;
    display: auto;
}

.post {
    height: 250px;
    text-align: center;
    margin-top: 20px;
    display: auto;
    position: relative;



}

.posters1 {
    height: 250px;
    text-align: center;
    margin-top: 20px;
    display: auto;
    position: relative;


}

.post1 {
    background-image: url(../assets/img/gig1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 400px;
    transition: transform .2s;
    transform-origin: top center;
}

.post1:hover {
    transform: scale(auto);
    z-index: 5;
}


.post2 {
    background-image: url(../assets/img/gig2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 400px;
    transform-origin: top left;
    transition: transform .2s;
}

.post2:hover {
    transform: scale(auto);
    z-index: 5;
}

.post3 {
    background-image: url(../assets/img/gig3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 400px;
    transition: transform .2s;
    transform-origin: top right;

}

.post3:hover {
    transform: scale(auto);
    z-index: 5;
}

.giginfo {
    width: 50%;
    height: 620px;
    text-shadow: black 0.3em 0.3em 0.3em;
    border-radius: 5px;
    background-position: center;
    float: right;
    margin-right: 25%;
}

.info {
    background-image: url(../assets/img/backdrop.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 100%;
    margin-left: 20%;
}

.music {
    text-align: center;
}

.linkfacebook {
    margin-top: auto;
}


/*--------------music section--------------------*/

.spot {
    display: cover;
    z-index: 2;
    width: 100%;
    text-align: center;
    margin-top: 300px;
}

.spotify {
    background-image: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    text-shadow: black 0.3em 0.3em 0.3em;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    height: 1400px;
    display: inline-block;
    width: 100%;
}

.iframes {
    display: cover;
    height: auto;
    width: 100%;
    z-index: 3;
}

.music {
    width: 100%;
}

.tunestxt {
    text-align: center;
}

/*--------------review slide--------------------*/

.reviewbg {
    width: 80%;
    height: 455px;
    background-position: center;
    margin: 0 auto;
    display: block;
}

.mySlides {
    text-align: center;
    margin: 0 auto;

}

.review1 {
    background-image: url(../assets/img/review1.jpg);
    width: 100%;
    max-height: 455px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;

}

.review2 {
    background-image: url(../assets/img/review2.jpg);
    width: 100%;
    max-height: 455px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
}

.review3 {
    background-image: url(../assets/img/review3.jpg);
    width: 100%;
    max-height: 455px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
}





/*--------------youtube--------------------*/

.video-responsive {
    overflow: hidden;
    padding-bottom: 0;
    position: relative;
    height: 400px;
    z-index: 7;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 7;
}

.yout {
    margin-top: auto;
}

/*--------------footer--------------------*/

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    z-index: 10;
}

.footer:hover {
    transform: scale(2);
}

.fa-facebook {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
}

.fa-facebook:hover {
    color: #931007!important;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
}

.fa-youtube {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
}

.fa-youtube:hover {
    color: #931007!important;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
}

.fa-spotify {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
}

.fa-spotify:hover {
    color: #931007!important;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
}

.fa-amazon {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
}

.fa-amazon:hover {
    color: #931007!important;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
}

.homebt {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
}

.homebt:hover {
    color: #931007!important;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
}




/*--------------Media--------------------*/

@media (min-width: 1025px) {

    .topbg {
        height: 1000px;
    }
    .startbg {
        height: 1500px;
    }
    .newcd {
        height: 200px;
    }
    .jumbotron {
        margin-top: 150px;
        height: 400px;
        width: 80%;
    }
    .parallax1 {
        background-size: cover;
    }
    .newsmod {
        margin-top: 100px;
        height: 200px;
    }
    .btvideo,
    .btgig {
        height: 250px;
        width: 100%;
    }
    .container .btn {
        width: 300px;
        height: 200px;
    }
    .newsmodtx {
        margin-top: 100px;
    }
    .jumbo {
        margin-top: 0!important;
    }
    #tour {
        margin-top: 100px!important;
    }
    .post1:hover {
        transform: scale(1.5);

    }
    .post2:hover {
        transform: scale(1.5);

    }
    .post3:hover {
        transform: scale(1.5);

    }
    .linkfacebook {
        margin-top: 200px;
    }
    .tourbg {
        height: 620px;
    }
    .gigpost {
        height: 720px;
    }

    .reviewbg {
        width: 100%;
        height: 455px;
        background-position: center;
        margin: 0 auto;
        display: block;
    }

    .mySlides {
        text-align: center;
        margin-bottom: -100px!important;
        height: 500px!important;
    }

    .reviewmod {
        right: 50px;
    }

    .spotify {
        background-image: url(../assets/img/backdrop.jpg);
    }
    .yout {
        margin-top: 150px;
    }
    .reveiwbt {
        margin-top: 120px!important;
    }








}



@media (min-width: 768px) and (max-width: 1024px) {
    .topbg {
        height: 600px;
        margin-top: -50px!important;
    }
    .intro {
        display: none;
    }
    .startbg {
        height: 250px;
        margin-top: 100px;
    }

    .jumbotron {
        margin-top: 50px;
        height: 400px;
        width: 100%;
    }

    .parallax1 {
        background-size: contain;
        margin-top: 0;
        background-attachment: scroll!important;
    }
    .latestgig {
        height: 100px;
    }
    .latestcd {
        height: 100px;
        margin-top: 20px;
        display: block;
    }
    #start {
        margin-top: -50px;
    }

    .jumbo {
        margin-top: -50px;
    }
    .newsmod {
        padding-top: 50px;
    }
    .container .btn {
        width: 150px;
        height: 100px;
    }
    .tour {
        margin-top: 300px!important;
    }
    .tourbg {
        margin-top: -50px!important;
        height: 250px;
    }
    .gigpost {
        margin-top: 100px!important;
        width: 100%;
    }

    .linkfacebook {
        margin-top: 150px;
        padding-left: 30px!important;
        padding-right: 30px!important;
    }
    .gigpost {
        height: 320px;
        margin-top: 300px;
    }
    .home {
        margin-top: 50px!important;
    }
    .bandphoto {
        top: 50px;
    }
    .review2 {
        height: 500px;
    }
    .review3 {
        height: 500px;
    }
    .spot {
        margin-top: 50px!important;
    }
    .reviewmod {
        width: 100%;
    }
    .reviewbg {
        width: 100%!important;
        height: 300px!important;
        background-position: center;
        margin: 0 auto;
        display: block;
    }

    .mySlides {
        text-align: center;
        margin-bottom: -100px!important;
    }

    .reviewmod {
        right: 0!important;
        width: 100%;
    }
    .review1,
    .review2,
    .review3 {
        height: 360px;
    }
    .posters {
        height: 0!important;
        width: 0!important;

    }
    #music {
        margin-top: 400px;
    }
    .spotify {
        background-image: url(../assets/img/group.jpg);
    }
    .yout {
        margin-top: 150px;
    }
    .post {
        display: inherit;
        width: 50%!important;
    }
    .posters1 {
        display: inherit;
        width: 50%!important;
        margin-top: -270px;
        margin-left: 400px;
    }
}




@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .topbg {
        height: 600px;
        margin-top: -50px!important;
    }
    .intro {
        display: none;
    }
    .startbg {
        height: 250px;
        margin-top: 100px;
    }

    .jumbotron {
        margin-top: 50px;
        height: 400px;
        width: 100%;
    }

    .parallax1 {
        background-size: contain;
        margin-top: 0;
        background-attachment: scroll!important;
    }
    .latestgig {
        height: 100px;
    }
    .latestcd {
        height: 100px;
        margin-top: 20px;
        display: block;
    }
    #start {
        margin-top: -50px;
    }

    .jumbo {
        margin-top: -50px;
    }
    .newsmod {
        padding-top: 50px;
    }
    .container .btn {
        width: 150px;
        height: 100px;
    }
    .tour {
        margin-top: 300px!important;
    }
    .tourbg {
        margin-top: -50px!important;
        height: 250px;
    }
    .gigpost {
        margin-top: 100px!important;
        width: 100%;
    }

    .linkfacebook {
        margin-top: 200px!important;
        padding-left: 30px!important;
        padding-right: 30px!important;
    }
    .gigpost {
        height: 320px;
        margin-top: 300px;
    }
    .home {
        margin-top: 50px!important;
    }
    .bandphoto {
        top: 50px;
    }
    .review2 {
        height: 500px;
    }
    .review3 {
        height: 500px;
    }
    .spot {
        margin-top: 50px!important;
    }
    .reviewmod {
        width: 100%;
    }
    .reviewbg {
        width: 100%!important;
        height: 300px!important;
        background-position: center;
        margin: 0 auto;
        display: block;
    }

    .mySlides {
        text-align: center;
        margin-bottom: -100px!important;
    }

    .reviewmod {
        right: 0!important;
    }
    .review1,
    .review2,
    .review3 {
        height: 360px;
    }
    .posters {
        display: none;
    }
    #music {
        margin-top: 400px;
    }

    .postmob {
        display: inline-block;
    }

    .spotify {
        background-image: url(../assets/img/group.jpg);
    }
    .yout {
        margin-top: 150px;
    }
    .footer:hover {
        transform: scale(1.5)!important;
    }

}



@media (min-width: 481px) and (max-width: 767px) {

    .topbg {
        height: 600px;
        margin-top: -50px!important;
    }
    .intro {
        display: none;
    }
    .startbg {
        height: 250px;
        margin-top: 100px;
    }

    .jumbotron {
        margin-top: 50px;
        height: 250px;
        width: 100%;
    }

    .parallax1 {
        background-size: contain;
        margin-top: 0;
        background-attachment: scroll!important;
    }
    .latestgig {
        height: 100px;
    }
    .latestcd {
        height: 100px;
        margin-top: 20px;
        display: block;
    }
    #start {
        margin-top: 175px;
    }

    .jumbo {
        margin-top: -50px;
    }
    .newsmod {
        padding-top: 50px;
    }
    .container .btn {
        width: 150px;
        height: 100px;
    }
    .tour {
        margin-top: 300px!important;
    }
    .tourbg {
        margin-top: -50px!important;
        height: 250px;
    }
    .gigpost {
        margin-top: 20px;
        width: 100%;
    }

    .linkfacebook {
        margin-top: 150px;
        padding-left: 30px!important;
        padding-right: 30px!important;
    }
    .gigpost {
        height: 320px;
        margin-top: 300px;
    }
    .home {
        margin-top: 50px!important;
    }
    .bandphoto {
        top: 50px;
    }
    .review2 {
        height: 500px;
    }
    .review3 {
        height: 500px;
    }
    .spot {
        margin-top: 50px!important;
    }
    .reviewmod {
        width: 100%;
    }
    .reviewbg {
        width: 100%!important;
        height: 300px!important;
        background-position: center;
        margin: 0 auto;
        display: block;
    }

    .mySlides {
        text-align: center;
        margin-bottom: -100px!important;
    }

    .reviewmod {
        right: 0!important;
    }
    .review1,
    .review2,
    .review3 {
        height: 360px;
    }
    .posters {
        display: none;
    }
    .posters1 {
        display: none!important;
    }
    #music {
        margin-top: 400px;
    }


    .spotify {
        background-image: url(../assets/img/group.jpg);
    }
    .yout {
        margin-top: 150px;
    }
    .footer:hover {
        transform: scale(1.5)!important;
    }






}

@media (min-width: 320px) and (max-width: 480px) {

    .topbg {
        height: 300px;
        margin-top: -50px!important;
    }
    .intro {
        display: none;
    }
    .startbg {
        height: 250px;
        margin-top: -70px!important;
    }

    .jumbotron {
        margin-top: 50px;
        height: 250px;
        width: 100%;
    }

    .parallax1 {
        background-size: contain;
        margin-top: -120px!important;
        background-attachment: scroll!important;
    }
    .latestgig {
        height: 60px;
    }
    .latestcd {
        height: 60px;
        margin-top: 0px;
        display: block;
    }
    #start {
        margin-top: 175px;
    }
    .jumbo {
        margin-top: -50px;
    }
    .newsmod {
        padding-top: 50px;
    }
    .container .btn {
        width: 150px;
        height: 100px;
    }
    .tour {
        margin-top: 300px!important;
    }
    .tourbg {
        margin-top: -50px!important;
        height: 250px;
    }
    .gigpost {
        margin-top: 300px;
        width: 100%;
    }

    .linkfacebook {
        margin-top: 150px;
        padding-left: 30px!important;
        padding-right: 30px!important;
    }
    .gigpost {
        height: 320px;
    }
    .home {
        margin-top: 50px!important;
    }
    .bandphoto {
        top: 50px;
        display: none!important;
    }
    .review2 {
        height: 500px;
    }
    .review3 {
        height: 500px;
    }
    .spot {
        margin-top: 50px!important;
    }
    .reviewbg {
        width: 100%!important;
        height: 300px!important;
        background-position: center;
        margin: 0 auto;
        display: block;
    }

    .mySlides {
        text-align: center;
        margin: 0 auto;
    }

    .reviewmod {
        right: 0!important;
    }

    .review1,
    .review2,
    .review3 {
        height: 360px;
    }

    .spotify {
        margin-top: 100px!important;
    }


    .posters {
        display: none;
    }
    .posters1 {
        display: none!important;
    }
    .posters3 {
        display: none;
    }

    #music {
        margin-top: 300px;
    }
    .spotify {
        background-image: url(../assets/img/group.jpg);
    }
    .yout {
        margin-top: 100px;
    }
    .footer:hover {
        transform: scale(1.5)!important;
    }



}


@media (max-width: 5000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}
