.body {
    padding: 0;
    margin: 0;
}

.container-fluid {
    margin-left: -15px !important;
    margin-right: -15px !important;
}

.jumbotron {
    margin-left: -15px !important;
    margin-right: -15px !important;
}

/*--------------text--------------------*/

h1 {
    color: #d64815 !important;
}

h3 {
    color: white !important;
    text-align: center;
    font-weight: bold;

}

h5 {
    color: white !important;
}

p {
    color: white !important;
}

a {
    color: white !important;
}

.newtx {
    color: white !important;
    font-size: 10%;
}

/*--------------links--------------------*/

a:link {
    background-color: transparent;

}

/*--------------navbar--------------------*/

.navbar {
    border-color: transparent;
    text-transform: uppercase;
    background: none;
}

.navbar .navbar-collapse {
    text-align: right;
    border-top: 1px solid transparent;
    overflow-x: hidden;
}

.navbar-nav li a {
    color: transparent;
    padding: 30px;

}

.navbar-fixed-top .container {
    text-align: right;
}

a {
    background-color: #E4E4E4;
    color: #888888;
    font-size: 1.12em;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.navbar-default .navbar-nav li a:hover {
    color: #564F6F;
}

.navbar-right {
    float: right!important;
}

/*--------------bandphoto--------------------*/

.bandphoto {
    background-image: url(../assets/img/bandcover.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: all 200ms ease-in-out;
    display: block;

}

.topbg {
    width: 100%;
    height: auto;
    margin: 0;
}

/*-----------------parallax------------------*/

.parallax1 {
    background-image: url(../assets/img/group.jpg);
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    position: relative;
    top: 0;
    transition: all 200ms ease-in-out;
    padding: 0;
    margin: 0;
    text-align: center;
}

.startbg {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    z-index: -5;
}

/*-----------------jumbotron------------------*/

.jumbo {
    margin-top: 100px;
    width: 100%;
    display: inline-block;
    background-position: center;
    margin-left: -15px !important;
    margin-right: -15px !important;
    padding-left: 0!important;
    padding-right: 0!important;

}

.jumbotron {
    background-image: url(../assets/img/crowd.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    text-shadow: black 0.3em 0.3em 0.3em;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
    display: inline-block;
    width: auto;
}

.container {
    position: relative;
    width: 50%;
}

.container img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 0;
    border: none;
    cursor: pointer;
    width: auto;
    height: auto;
    background-size: cover;
    border-radius: 15px;
}

.container .btn:hover {
    opacity: 0.8;
}

.btvideo {
    background-image: url(../assets/img/newstuff.jpg);
    background-repeat: no-repeat;
    border-radius: 15px;
}

.latestgigtx,
.latestcdtx {
    padding-top: 10px;
    border-radius: 15px;
}

/*--------------tour--------------------*/

.tour {
    margin-top: auto;
    overflow: auto;
}

.tourbg {
    height: 620px;
    background-color: rgb(66, 134, 244, 0.1);
}

.gigpost {
    width: 100%;
    height: 720px;
    text-shadow: black 0.3em 0.3em 0.3em;
    border-radius: 5px;
    float: left;
    display: inline-block;
}

.posters {
    height: 250px;
    text-align: center;
    margin-top: 20px;
    display: auto;

}

.posters1 {
    height: 250px;
    text-align: center;
    max-width: 350px;
}

.post1 {
    background-image: url(../assets/img/gig1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 400px;
    transition: transform .2s;
    transform-origin: top center;
}

.post1:hover {
    transform: scale(auto);
    z-index: 5;
}


.post2 {
    background-image: url(../assets/img/gig2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 400px;
    transform-origin: top left;
    transition: transform .2s;
}

.post2:hover {
    transform: scale(auto);
    z-index: 5;
}

.post3 {
    background-image: url(../assets/img/gig3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 400px;
    transition: transform .2s;
    transform-origin: top right;

}

.post3:hover {
    transform: scale(auto);
    z-index: 5;
}

.giginfo {
    width: 50%;
    height: 620px;
    text-shadow: black 0.3em 0.3em 0.3em;
    border-radius: 5px;
    background-position: center;
    float: right;
    margin-right: 25%;
}

.info {
    background-image: url(../assets/img/backdrop.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 100%;
    margin-left: 20%;
}

.music {
    text-align: center;
}

.linkfacebook{
    margin-top: 150px;
}


/*--------------music section--------------------*/

.spot {
    display: cover;
    z-index: 2;
    width: 100%;
    text-align: center;
    margin-top: 350px;
}

.spotify {
    background-image: url(../assets/img/wreck.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    text-shadow: black 0.3em 0.3em 0.3em;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    height: 1000px;
    display: inline-block;
    width: 100%;
}

.iframes {
    display: cover;
    height: auto;
    width: 100%;
    z-index: 3;
}

.music {
    width: 100%;
}

.tunestxt {
    text-align: center;
}

/*--------------Media--------------------*/

@media (min-width: 1281px) {
    .topbg {
        height: 1000px;
    }
    .startbg {
        height: 1300px;
    }
    .newcd {
        height: 200px;
    }
    .jumbotron {
        margin-top: 150px;
        height: 400px;
        width: 80%;
    }
    .parallax1 {
        background-size: cover
    }
    .newsmod {
        margin-top: 100px;
        height: 200px;
    }
    .btvideo,
    .btgig {
        height: 250px;
        width: 100%;
    }
    .container .btn {
        width: 300px;
        height: 200px;
    }
    .newsmodtx {
        margin-top: 100px;
    }
    .jumbo {
        margin-top: 0!important;
    }
    #tour {
        margin-top: 100px!important;
    }
    .post1:hover {
        transform: scale(1.5);

    }
    .post2:hover {
        transform: scale(1.5);

    }
    .post3:hover {
        transform: scale(1.5);

    }


}


@media (min-width: 1025px) and (max-width: 1280px) {
    .topbg {
        height: 1000px;
    }
    .startbg {
        height: 1300px;
    }
    .newcd {
        height: 200px;
    }
    .jumbotron {
        margin-top: 150px;
        height: 400px;
        width: 80%;
    }
    .parallax1 {
        background-size: cover;
    }
    .newsmod {
        margin-top: 100px;
        height: 200px;
    }
    .btvideo,
    .btgig {
        height: 250px;
        width: 100%;
    }
    .container .btn {
        width: 300px;
        height: 200px;
    }
    .newsmodtx {
        margin-top: 100px;
    }
    .jumbo {
        margin-top: 0!important;
    }
    #tour {
        margin-top: 100px!important;
    }
    .post1:hover {
        transform: scale(1.5);

    }
    .post2:hover {
        transform: scale(1.5);

    }
    .post3:hover {
        transform: scale(1.5);

    }


}



@media (min-width: 768px) and (max-width: 1024px) {
    .topbg {
        height: ;
    }
}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .topbg {
        height: ;
    }
}


@media (min-width: 481px) and (max-width: 767px) {
    .topbg {
        height: 300px;
    }
    .startbg {
        height: 250px;
        margin-top: 100px;
    }

    .jumbotron {
        margin-top: 50px;
        height: 250px;
        width: 100%;
    }

    .parallax1 {
        background-size: contain;
        margin-top: 0;
        background-attachment: scroll!important;
    }
    .latestgig {
        height: 100px;
    }
    .latestcd {
        height: 100px;
        margin-top: 20px;
        display: block;
    }
    #start {
        margin-top: 175px;
    }

    .jumbo {
        margin-top: -50px;
    }
    .newsmod {
        padding-top: 50px;
    }
    .container .btn {
        width: 150px;
        height: 100px;
    }
    .tour {
        margin-top: -30px!important;
    }
    .gigpost {

        width: 100%;
    }
    .post1:hover {
        transform: scale(1);

    }
    .post2:hover {
        transform: scale(1);

    }
    .post3:hover {
        transform: scale(1);

    }
    .posters{
        display: none;
    }




}

@media (min-width: 320px) and (max-width: 480px) {
    .topbg {
        height: 300px;
    }
    .startbg {
        height: 250px;
        margin-top: -70px!important;
    }

    .jumbotron {
        margin-top: 50px;
        height: 250px;
        width: 100%;
    }

    .parallax1 {
        background-size: contain;
        margin-top: -120px!important;
        background-attachment: scroll!important;
    }
    .latestgig {
        height: 60px;
    }
    .latestcd {
        height: 60px;
        margin-top: 0px;
        display: block;
    }
    #start {
        margin-top: 175px;
    }
    .jumbo {
        margin-top: -50px;
    }
    .newsmod {
        padding-top: 50px;
    }
    .container .btn {
        width: 150px;
        height: 100px;
    }
    .tour {
        margin-top: -30px!important;
    }
    .gigpost {

        width: 100%;
    }
    .post1:hover {
        transform: scale(1);

    }
    .post2:hover {
        transform: scale(1);

    }
    .post3:hover {
        transform: scale(1);
    }
    .posters{
        display: none;
    }


}


@media (max-width: 5000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}
